* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.jar binary
*.class binary
*.zip binary
*.gz binary
*.tar binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.nbt binary
*.dat binary
*.mca binary
*.mcc binary
*.jfr binary

gradlew text eol=lf
